<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:motan="http://api.weibo.com/schema/motan"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                   http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://api.weibo.com/schema/motan http://api.weibo.com/schema/motan.xsd">

    <!--开启mvc注解-->
    <mvc:annotation-driven/>

    <!--自动扫描包-->
    <context:component-scan base-package="com"/>

    <bean id="appInfo" class="model.AppInfo">
        <!--<property name="appName" value="${app.name}"/>-->
        <!--<property name="appVersion" value="${app.version}"/>-->
        <property name="appName" value="importCase"/>
        <property name="appVersion" value="1.0"/>
     </bean>


    <!--spring配置来源，控制类-->
    <bean id="propertyConfigurer" class="com.thunisoft.util.autoconfig.ExternalPropertyPlaceholderConfigurer">
        <property name="appInfo" ref="appInfo"/>
        <property name="locations">
            <list>
                <value>classpath*:appConfig.properties</value>
                <value>classpath*:appConfig-1.properties</value>
                <value>classpath*:motan.properties</value>
                <value>classpath*:appInfo.properties</value>
            </list>
        </property>
        <property name="propertyOverride" value="true" />
    </bean>

    <!--&lt;!&ndash;自定义配置来源，控制类&ndash;&gt;-->
    <!--<bean id="propertiesLoadControler" class="work.test.PropertiesLoadController">-->
        <!--<property name="propertyOverride" value="false" />-->
        <!--<property name="locations">-->
            <!--<list>-->
                <!--<value>classpath*:appConfig.properties</value>-->
                <!--<value>classpath*:appConfig-1.properties</value>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->

    <!--Hadoop集群hdfs-site.xml及coer-site.xml文件参数替换，控制类-->
    <bean id="replaceClusterXMLPara" class="hbase.ReplaceClusterXMLParaConfigurer">
        <property name="propertyOverride" value="false" />
        <property name="locations">
            <list>
                <value>hdfs-site.xml</value>
                <value>core-site.xml</value>
            </list>
        </property>
    </bean>

    <!--&lt;!&ndash;Hadoop集群hdfs-site.xml及coer-site.xml文件参数替换，控制类&ndash;&gt;-->
    <!--<bean id="httpFactory" class="util.http.HttpFactory"/>-->

    <!--motan-->
    <motan:referer id="remoteService" interface="motan.FooService" directUrl="${port}"/>
</beans>